URxvt.font:xft:hack:pixelsize=10
URxvt.italicfont:xft:hack:pixelsize=10
URxvt.boldFont:xft:hack:pizelsize=10
URxvt.letterSpace: -1
URxvt.scrollBar: false

#define base00 #20201d
#define base01 #292824
#define base02 #6e6b5e
#define base03 #7d7a68
#define base04 #999580
#define base05 #a6a28c
#define base06 #e8e4cf
#define base07 #fefbec
#define base08 #d73737
#define base09 #b65611
#define base0A #ae9513
#define base0B #60ac39
#define base0C #1fad83
#define base0D #6684e1
#define base0E #b854d4
#define base0F #d43552

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05

URxvt.color0:       base00
URxvt.color1:       base08
URxvt.color2:       base0B
URxvt.color3:       base0A
URxvt.color4:       base0D
URxvt.color5:       base0E
URxvt.color6:       base0C
URxvt.color7:       base05

URxvt.color8:       base03
URxvt.color9:       base08
URxvt.color10:      base0B
URxvt.color11:      base0A
URxvt.color12:      base0D
URxvt.color13:      base0E
URxvt.color14:      base0C
URxvt.color15:      base07
